body{
    font-family: 'Kanit', sans-serif;
    background-color: #f8f9fa !important;
    box-sizing: 0;
}

.img-right{
    float:right;
    display:block;
}

.py-5 {
    padding-top: 5rem!important;
    padding-bottom: 5rem!important;
}