
/* font-family: 'Kanit', sans-serif; */

body{
    font-family: 'Kanit', sans-serif;
    background-color: #f8f9fa !important;
    box-sizing: 0;
}

.py-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 4rem !important;
}

.card-img, .card-img-top, .card-img-bottom {
    /* width: 70% !important; */
    display:inline;
}

.w-100{
    width: 100% !important;
    border-radius: 5% !important;
}

pt-10{
    padding-top: 10px;
}

.flex {
    display: flex;
}

py-5 {
    padding-top: 3rem!important;
    padding-bottom: 5rem!important;
}